.habitListContainer {
    display: none;
}

@media (min-width: 768px) {
    .habitListContainer {
        display: block;
        width: 33.3333%;
        height: 100%;
        background: #f0f0f0;
        overflow-y: auto;
    }

    .habitListNavbar {
        background: #f4faff;
        color: #3f3f3f;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 0.5rem 1rem;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
    }

    .habitListItems {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
}
